<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytebabies.app">

    <!-- Required for PayFast WebView checkout -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="ByteBabies"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ByteBabies">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- Default launcher intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- PayFast return deep link -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="bytebabies"
                    android:host="payfast"
                    android:path="/return" />
            </intent-filter>

            <!-- PayFast cancel deep link -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="bytebabies"
                    android:host="payfast"
                    android:path="/cancel" />
            </intent-filter>

        </activity>

    </application>

</manifest>
